name: Flask-Executor tests

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        flask-version: ["< 2.2", ">= 2.2  "]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "flask ${{ matrix.flask-version }}"
          pip install -e .[test]
      - name: Test with pytest
        run: |
          pytest --cov=flask_executor/